
.footer {
    color:black;
    background-color: white;/* Adjust the text color as needed */
    text-align: center;
    margin-top: auto;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  